<ng-template #content let-modal>
  <div class="modal-header">
    <div class="d-flex flex-column">
      <h4 class="modal-title">Access Verification</h4>
      <p
        [ngClass]="{ 'opacity-50': !otpError, 'text-danger': otpError }"
        style="font-size: 0.9rem"
      >
        @if (otpError) {
        {{ otpError }}
        }@else { To access the admin page, please enter the passkey..... }
      </p>
    </div>

    <button
      type="button"
      class="btn-close"
      style="filter: brightness(0) invert(1)"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <ng-otp-input #otpInput
      class="d-flex justify-content-center"
      (onInputChange)="onInputChange($event)"
      [config]="{
        length: 6,
        inputClass: 'bg-black',
        inputStyles: {
          color: 'green',
        },
        allowNumbersOnly: true,
        placeholder: '0',
      }"
    ></ng-otp-input>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success w-100" (click)="otpSubmit(otpInput)">
      Login
    </button>
  </div>
</ng-template>

<div class="d-flex vh-100">
  <section
    class="w-100 d-flex h-100 flex-column justify-content-around align-items-center"
  >
    <div class="w-75 d-flex h-100 flex-column justify-content-around">
      <div class="d-flex position-relative">
        <img
          class="position-absolute"
          style="height: 60px; width: 60px; top: -15px; left: -15px"
          src="assets/icons/logo.png"
          alt=""
        />
        <h4
          style="left: 40px; top: -2px"
          class="align-self-center position-absolute"
        >
          CozyCare
        </h4>
      </div>
      <div>
        <h2>Hi there, 👋</h2>
        <p class="opacity-50">Get Started with Appointments.</p>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <div class="input-group">
              <span
                class="input-group-text p-2 bg-dark border-end-0 border-secondary"
              >
                <img
                  src="assets/icons/user.svg"
                  alt="person icon"
                  style="height: 20px; width: 20px"
                />
              </span>
              <input
                type="text"
                class="form-control border-start-0 bg-dark border-secondary"
                id="fullName"
                name="fullName"
                ngModel
                #fullName="ngModel"
                required
                placeholder="Jhon Doe"
              />
            </div>
          </div>
          <div *ngIf="fullName.invalid && fullName.touched">
            <p class="text-danger" *ngIf="fullName.errors?.['required']">
              Full Name is required
            </p>
          </div>
          <div class="mb-3">
            <label for="emailInput" class="form-label">Email Address</label>
            <div class="input-group">
              <span
                class="input-group-text p-2 bg-dark border-end-0 border-secondary"
              >
                <img
                  src="assets/icons/email.svg"
                  alt="person icon"
                  style="height: 20px; width: 20px"
                />
              </span>
              <input
                type="email"
                class="form-control bg-dark border-start-0 border-secondary"
                id="emailInput"
                name="email"
                ngModel
                email
                required
                #email="ngModel"
                placeholder="jhondoe@gmail.com"
              />
            </div>
          </div>

          <div *ngIf="email.invalid && (email.touched || email.dirty)">
            <p class="text-danger" *ngIf="email.errors?.['required']">
              Email is required
            </p>
            <p class="text-danger" *ngIf="email.errors?.['email']">
              Email is invalid
            </p>
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <div class="">
              <ngx-intl-tel-input
                cssClass="form-control w-100 bg-dark border-secondary phone-custom"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [selectedCountryISO]="CountryISO.India"
                [phoneValidation]="true"
                name="phone"
                ngModel
                #phone="ngModel"
              ></ngx-intl-tel-input>
            </div>
          </div>
          <!-- <button
            style="width: 100%"
            class="btn btn-success mt-3"
            [disabled]="isLoading || loginForm.invalid"
          >
            @if (isLoading) {
            <img src="assets/icons/loader.svg" alt="" />
            }@else { Get Started }
          </button> -->
          <app-button [isLoading]="isLoading" [invalid]="loginForm.invalid">
            Get Started
          </app-button>
        </form>
        <div class="d-flex mt-1 justify-content-end">
          <a class="text-decoration-none link-primary" routerLink="admin"
            >Admin</a
          >
        </div>
      </div>
      <div>
        <p class="opacity-50">&#64; CozyCare copyright</p>
      </div>
    </div>
  </section>
  <div class="w-100 d-md-flex d-none">
    <img
      class="img-fluid object-fit-cover h-100 rounded-4"
      src="assets/images/onboarding-img.png"
      alt="onboarding-img"
    />
  </div>
</div>
