<div ngbDropdown class="dropdown w-100">
  <button
    ngbDropdownToggle
    class="form-control text-start bg-dark text-white border-secondary dropdown-toggle rounded-start-0 d-flex align-items-center"
    id="dropdownMenu"
    type="button"
  >
    <ng-container *ngIf="selectedOption; else skip">
      <img
        [src]="selectedOption.image"
        alt="selected physician"
        class="me-2 rounded-circle"
        width="30"
        height="30"
      />
      <span class="flex-grow-1">{{
        selectedOption ? selectedOption.name : "Select Physician"
      }}</span>
    </ng-container>
    <ng-template #skip >
      Select Your Doctor
    </ng-template>
  </button>

  <ul
    ngbDropdownMenu
    aria-labelledby="dropdownMenu"
    class="dropdown-menu bg-dark text-white w-100"
  >
    <li *ngFor="let option of options">
      <a
        class="dropdown-item d-flex align-items-center text-white"
        (click)="selectOption(option)"
      >
        <img
          [src]="option.image"
          alt="icon"
          class="me-2 rounded-circle"
          width="30"
          height="30"
        />
        {{ option.name }}
      </a>
    </li>
  </ul>
</div>
