:host {
    display: block; /* can also try inline-block, but block is usually fine inside a flex container */
    width: 100%;
  }
  
  button[ngbDropdownToggle].dropdown-toggle::after {
    position: absolute;
    right: 1rem; /* Adjust spacing to right edge */
  }