@import "@fontsource/plus-jakarta-sans/300.css";
@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

:root {
  --font-sans: "Plus Jakarta Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: var(--font-sans) !important;
  color: white !important;
}

app-root {
  display: block; /* ensure it’s treated as a block */
  min-height: 100vh; /* full viewport height */
}

.dark-modal .modal-content {
  background-color: #212529;
  color: white;
}

input {
  color: white !important;
}

.iti.iti--allow-dropdown {
  width: 100%;
  background-color: #212529;
}

.iti__country-list {
  max-height: 200px;
  overflow-y: auto;
  background-color: #212529;
  color: white;
}

.ng-pristine {
  background-color: #212529;
}

input::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}
.iti input::placeholder {
  color: white;
  opacity: 0.5;
}

textarea {
  color: white !important;
  background-color: #212529 !important;
  height: 10px;
}

textarea::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

select {
  background-color: #212529 !important;
  color: white !important;
}


